/shell/work-aliases.sh
/nvim/bundle
/emacs.d/elpa
/emacs.d/backups
/emacs.d/bookmarks
/emacs.d/auto-save-list
/emacs.d/custom-settings.el
/fish/completions
/fish/functions
/fish/fish_variables
/fish/conf.d/
!/fish/conf.d/01_path.fish
!/fish/conf.d/aliases.fish

# Unsure what these are
*.zwc
